@page "/"

<div>@((MarkupString)HtmlContent)</div>

<MarkdownEditor AutoSaveEnabled="true" AutoSaveId="UploadPage"
                Value="@_markdownValue" ValueChanged="@OnMarkdownValueChangedAsync"
                ValueHTMLChanged="@OnMarkdownValueHTMLChanged"
                ImageUploadEndpoint="@(NavigationManager.BaseUri + "api/images")"
                UploadImage="true" />